<footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"><span class="material-symbols-outlined">
                        location_on
                        </span></i>
                      <div class="cta-text">
                          <h4>Find us</h4>
                          <span>Ropar , Punjab , India </span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"><span class="material-symbols-outlined">
                        call
                        </span></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span>987654321</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"><span class="material-symbols-outlined">
                        mark_email_unread
                        </span></i>
                      <div class="cta-text">
                          <h4>Mail us</h4>
                          <span>19bcXXXXX@gmail.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div class="copyright-area">
      <div class="container" style="display: flex; justify-content: center; ">
          
              
                  <div class="copyright-text">
                      <p>Copyright &copy; 2022, All Right Reserved <a href="#">Pardeep</a></p>
                  </div>
              
              
          
      </div>
  </div>
</footer>
