<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>without bootstrap</title>
<style type="text/css" media="all">
	@import "/text_editor/css/info.css";
	@import "/text_editor/css/main.css";
	@import "/text_editor/css/widgEditor.css";
</style>
<script type="text/javascript" src="/text_editor/scripts/widgEditor.js"></script>
 
</head>
  <body>
<form action="/" method="post">
	<textarea id="noise" name="noise" class="widgEditor nothing"></textarea>
	<button type="submit">ADD</button>
</form>
    



  </body>
</html>